:root {
  --bg: linear-gradient(to left, #f0e9f1, #5db3e2);
  --textColor: black;
  --softBg: #5db3e2;
  --softTextColor: #626262;
  --tw-text-opacity: 1;
}

.dark {
  --bg: linear-gradient(to left, #2b295c, #4d3889);
  --textColor: #ddd;
  --softBg: #4d3889;
  --softTextColor: #cdcaca;
}

.light {
  --bg: linear-gradient(to left, #f0e9f1, #5db3e2);
  --textColor: black;
  --softBg: #5db3e2;
  --softTextColor: #333232;
}

* {
  padding: 0;
  margin: 0;
  background-image: var(--bg);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
